<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<style>
input[type=text] {
	width: 100%;
}

#Warn {
	text-weight: normal;
	color: red;
}
</style>
<script th:inline="javascript">
var pid=[[${details.getId()}]];

$("#savefield").click(function(){
	var i=0;
	$('input[name=Newinput]').each(function(){
		if($(this).val()==""){
			$(this).attr("placeholder", "Required");
			$(this).css({'border':'1px solid #d9534f'});
			i++;
		}else{
			$(this).css({'border':'none'});
		}
	});
	if(i==0){
		$.ajax({
			url:"/reservoirLithology/upsavefield",
			type : "POST",
			data :$("#mainform").serialize()+"&pid="+pid,
			success:function(res){
				$("#loadtable").html(res);
				$("#exampleModal").modal("show");
			}
		});
	}
});

$(".dfclass").click(function(){
	var id =$(this).closest('td').find('input[name=hiddenid]').val();
	$.ajax({
		url:"/reservoirLithology/upremovefield",
		type : "POST",
		data:{pid:pid,id:id},
		success:function(res){
			$("#loadtable").html(res);
			$("#exampleModal").modal("show");
		}
	});
});

$("#update").click(function(){
	var i=0;
	var old=document.getElementsByName("Oldinput");
	if(old.length>0){
		$('input[name=Oldinput]').each(function(){
			if($(this).val()==""){
				$(this).attr("placeholder", "Required");
				$(this).css({'border':'1px solid #d9534f'});
				i++;
			}else{
				$(this).css({'border':'none'});
			}
		});
		if(i==0){
			$.ajax({
				url:"/reservoirLithology/upsaveall",
				type : "POST",
				data :$("#mainform").serialize()+"&pid="+pid,
				success:function(res){
					$("#loadtable").html(res);
					$("#exampleModal").modal("show");
				}
			});
		}else{
			$("#Warn").show();
			$("#hiddenwarn").show();
		}
	}else{
		$.ajax({
			url:"/reservoirLithology/upsavenew",
			type : "POST",
			data :$("#mainform").serialize()+"&pid="+pid,
			success:function(res){
				$("#loadtable").html(res);
				$("#exampleModal").modal("show");
			}
		});
	}
	
	
});
</script>
</head>
<body class="nav-md" th:inline="text">
	<!-- top tiles -->
	<div class="row text-center">
		<h3>GEOPHYSICAL WELL DATA</h3>
		<form id="mainform">
			<table class="table table-bordered table-striped jambo_table bulk_action">
				<thead>
					<tr>
						<td>From Depth <br>(Ft)
						</td>
						<td>To Depth <br>(Ft)
						</td>
						<td>Tvd <br>(Ft)
						</td>
						<td>Perm <br>(mD)
						</td>
						<td>Poro</td>
						<td>Zonal Pressure <br>(psi)
						</td>
						<td>Pre-Stim Skin</td>
						<td>Pre-Stim PI</td>
						<td></td>
					</tr>

				</thead>
				<tbody>
					<tr th:each="fluid: ${rList}">
						<td><input type="number" class="form-control"
							th:name="Oldinput" th:value="${fluid.frommDefthFT}"></td>
						<td><input type="number" class="form-control"
							th:name="Oldinput" th:value="${fluid.toDefthFT}"></td>
						<td><input type="number" class="form-control"
							th:name="Oldinput" th:value="${fluid.tVDFT}"></td>
						<td><input type="number" class="form-control"
							th:name="Oldinput" th:value="${fluid.permMD}"></td>
						<td><input type="number" class="form-control"
							th:name="Oldinput" th:value="${fluid.poro}"></td>
						<td><input type="number" class="form-control"
							th:name="Oldinput" th:value="${fluid.zonePressPSI}"></td>
						<td><input type="number" class="form-control"
							th:name="Oldinput" th:value="${fluid.prestimskin}"></td>
						<td><input type="number" class="form-control"
							th:name="Oldinput" th:value="${fluid.prestimpi}"></td>
						<td><input id="removefield" class="dfclass btn btn-danger"
							type="button" value="X" /> <input type="hidden"
							th:value="${fluid.id}" th:name="hiddenid"></td>
					</tr>

					<tr>
						<td><input type="number" class="form-control"
							th:name="Newinput"></td>
						<td><input type="number" class="form-control"
							th:name="Newinput"></td>
						<td><input type="number" class="form-control"
							th:name="Newinput"></td>
						<td><input type="number" class="form-control"
							th:name="Newinput"></td>
						<td><input type="number" class="form-control"
							th:name="Newinput"></td>
						<td><input type="number" class="form-control"
							th:name="Newinput"></td>
						<td><input type="number" class="form-control"
							th:name="Newinput"></td>
						<td><input type="number" class="form-control"
							th:name="Newinput"></td>
						<td><input id="savefield" class="btn btn-primary"
							type="button" value="+"></td>
					</tr>

				</tbody>
				<tfoot>
					<tr id="hiddenwarn" hidden>
						<td colspan="8" class="text-center"><label id="Warn">Please
								Fill Empty Fields Or Remove Row.</label></td>
					</tr>
					<tr>
						<td colspan="8" class="text-center"><button type="button"
								id="update" class="btn btn-primary">Update</button></td>
					</tr>
				</tfoot>
			</table>
		</form>
	</div>
</body>
</html>
