<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<script th:inline="javascript">
var pid=[[${details.getId()}]];

$("#edit").click(function(){
	$.ajax({
		url:"/reservoirLithology/edit",
		type : "POST",
		data:{pid:pid},
		success:function(res){
			$("#loadtable").html(res);
			$("#exampleModal").modal("show");
		}
	});
});
</script>
</head>
<body class="nav-md" th:inline="text">
	<!-- top tiles -->
	<div class="row text-center">
	<h3>GEOPHYSICAL WELL DATA</h3>
	<table class="table table-striped jambo_table bulk_action">
	
		<thead>
			<tr class="headings">
				<th class="column-title">From Depth<br> (Ft)</th>
				<th class="column-title">To Depth<br> (Ft)</th>
				<th class="column-title">Tvd <br>(Ft)</th>
				<th class="column-title">Perm<br> (mD)</th>
				<th class="column-title">Poro</th>
				<th class="column-title">Zonal Pressure<br> (psi)</th>
				<th class="column-title">Pre-stim Skin</th>
				<th class="column-title">Pre-Stim PI</th>
			</tr>
		</thead>

		<tbody>
			<tr class="even pointer" th:each="fluid: ${rList}">
				<td class=" " th:text="${fluid.frommDefthFT}"></td>
				<td class=" " th:text="${fluid.toDefthFT}"></td>
				<td class=" " th:text="${fluid.tVDFT}"></td>
				<td class=" " th:text="${fluid.permMD}"></td>
				<td class=" " th:text="${fluid.poro}"></td>
				<td class=" " th:text="${fluid.zonePressPSI}"></td>
				<td class=" " th:text="${fluid.prestimskin}"></td>
				<td class=" " th:text="${fluid.prestimpi}"></td>
		</tbody>
		
	</table>
	
		<button id="edit" th:style="'width:20%;'" type="button"
						class="btn btn-primary">   Edit</button>
		
	</div>
</body>
</html>
