<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<script th:inline="javascript">
var pid=[[${session.details.id}]];

$("#td0").click(function(){
	 var valv=$("#0").is(':checked');
	 if(valv==false){
    $("#0").prop('checked',true); 
     var wp=$("#0").val();
	 
	$.ajax({
		url : "/fluidProperties/addfluid",
		type : "POST",
		data:{pid:pid,wp:wp},
		success:function(data){
			$("#loadtable").html(data);
			$("#exampleModal").modal("show");
		}
	});    
	 }
	$("#td0")
   .removeClass('btn-default')
   .addClass('btn-success');

});

$("#td1").click(function(){
	 var valv=$("#1").is(':checked');
	 if(valv==false){
	     $("#1").prop('checked',true); 
	     var wp=$("#1").val();
		$.ajax({
			url : "/fluidProperties/addfluid",
			type : "POST",
			data:{pid:pid,wp:wp},
			success:function(data){
				$("#loadtable").html(data);
				$("#exampleModal").modal("show");
			}
		}); 	 
		 }
	$("#td1")
   .removeClass('btn-default')
   .addClass('btn-success');

});

</script>
</head>
<body class="nav-md" th:inline="text">
	<!-- top tiles -->
	<div class="row text-center">
	<h3>Fluid Reservoir Properties</h3>
	
	<form>
			<div class="row ">
			<div class="col-md-6"></div>
				<div class="col-md-2" style="margin-bottom: 20px;"><span>
						<button style="width:75%;" type="button" id="td0" class="btn" data-color="success">
							Oil <input  name="wv" id="0" type="checkbox" value="Oil" />
						</button>
					</span> 
					</div>
					<div class="col-md-2" style="margin-bottom: 20px;">				
					<span>
						<button style="width:75%;" type="button" id="td1" class="btn" data-color="success">
							Gas <input name="wv" id="1" type="checkbox"
								value="Gas" />
						</button>
					</span>
				</div>
					<div class="col-md-2" style="margin-bottom: 20px;">				
					<span>
						<button style="width:75%;" type="button" id="td2" class="btn" data-color="success">
							Water <input name="wv" id="2" type="checkbox"
								value="Water" />
						</button>
					</span>
				</div>
			</div>

		</form>
	</div>
</body>
</html>
