<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<script th:inline="javascript">
var pid=[[${session.details.id}]];
var light=[[${session.cp}]];

$("#update").click(function(){
	if($("#param1").val()&&$("#value1").val()){
		$.ajax({
			url : "/wellCompletion/saveupdate",
			type : "POST",
			data:$("#mainform").serialize()+"&pid="+pid,
			success:function(res){
				$("#loadtable").html(res);
				$("#exampleModal").modal("show");
			}
		});
	}
	else{
		$.ajax({
			url : "/wellCompletion/saveupdateWOperf",
			type : "POST",
			data:$("#mainform").serialize()+"&pid="+pid,
			success:function(res){
				$("#loadtable").html(res);
				$("#exampleModal").modal("show");
			}
		});
	}
});

$("#savefield").click(function(){
	if($("#paramaa").val()&&$("#valueaa").val()){
		Add();
	}else{
		alert("Fill Empty Fields.");
	}
});

var param1 = [];
var value1 = [];
function Add() {
AddRow($("#paramaa").val(), $("#valueaa").val());
$("#paramaa").val("");
$("#valueaa").val("");
};

function AddRow(a,b) {
    var tBody = $("#example3 > TBODY")[0];
param1.push(a);
value1.push(b);


row = tBody.insertRow(-1);

var cell = $(row.insertCell(-1));
var param=$(' <input type="text" name="startinput" value="" class="form-control" id="param1" />');
param.val(a);
cell.html(param);

cell = $(row.insertCell(-1));
var value=$(' <input type="text" name="endinput" value="" class="form-control" id="value1" />');
value.val(b);
cell.html(value);

cell = $(row.insertCell(-1));


    var btnRemove = $("<input />");
btnRemove.attr("type", "button");
btnRemove.attr("class", "btn btn-danger");
btnRemove.attr("onclick", "Remove(this);");
btnRemove.val("X");
cell.append(btnRemove);
};

function Remove(button) {
    var row = $(button).closest("TR");
    var name = $("TD", row).eq(0).html();
    if (confirm("Do you want to delete: ")) {
    var table = $("#example3")[0];
    table.deleteRow(row[0].rowIndex);
    }
    };
    
</script>
</head>
<body class="nav-md" th:inline="text">
	<!-- top tiles -->
	<div>
		<h3>Fluid Reservoir Properties</h3>
	</div>

	<div class="row text-left">
		<h3 class="text-center">Well Completion(3nd)</h3>
		<form id="mainform">
			<table class="table table-striped jambo_table bulk_action">
				<tbody>
					<tr class="even pointer" th:each="comp: ${compList}">
						<td th:text="${comp.cp}"></td>
						<td><input type="hidden" class="cpinput"
							th:value="${comp.cp}" th:name="cp" /> <input type="text"
							class="cvinput form-control" th:value="${comp.cv}" th:name="cv" />
						</td>
				</tbody>
			</table>
			<div th:if="${session.cp!='Open Hole'} ">
				<table id="example3"
					class="table table-striped jambo_table bulk_action">

					<thead>
						<tr class="headings">
							<th class="column-title">START</th>
							<th class="column-title">END</th>
						</tr>
					</thead>

					<tbody>
						<tr class="even pointer">
							<td><input type="text" class="form-control" id="paramaa" /></td>
							<td><input type="text" class="form-control" id="valueaa" /></td>
							<td><input id="savefield" class="btn btn-primary"
								type="button" value="Save" style="width: 100%;"></td>
						</tr>
						<tr class="even pointer" th:each="perf:${perflist}">
							<td><input type="text" name="startinput"
								th:value="${perf.start}" class="form-control" id="param1" /></td>
							<td><input type="text" name="endinput"
								th:value="${perf.end}" class="form-control" id="value1" /></td>
							<td><input id="removefield" class="btn btn-danger"
								type="button" value="X" onclick="Remove(this);"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
		<div class="row text-center">
			<button th:style="'width:auto;'" type="button" id="update"
				class="btn btn-primary">Update</button>
		</div>
	</div>
</body>
</html>