<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<script th:inline="javascript">
var pid=[[${session.details.id}]];

$("#edit").click(function(){
	$.ajax({
		url:"/injectionplan/edit",
		type : "POST",
		data : {pid:pid},
		success:function(res){
			$("#loadtable").html(res);
			$("#exampleModal").modal("show");
		}
	});
});	

</script>
</head>
<body class="nav-md" th:inline="text">
	<!-- top tiles -->
	<div class="row text-center">
		<h3>INJECTION PLAN</h3>
		<table class="table table-bordered table-striped jambo_table bulk_action">

			<thead>
				<tr class="headings">
						<th class="column-title">Duration <br>(Min)
						</th>
						<th class="column-title">Stage</th>
						<th class="column-title">Volume <br>(Bbl)
						</th>
						<th class="column-title">Pump Rate <br>(Bpm)
						</th>
						<th class="column-title">Whtp <br>(Psi)
						</th>
						<th class="column-title">Bhp <br>(Psi)
						</th>
						<th class="column-title">Direction</th>
						<th class="column-title">Inj. Depth <br>(Ft)
						</th>
			</thead>

			<tbody>
				<tr class="even pointer" th:each="fluid: ${injlist}">
					<td class=" " th:text="${fluid.duration}"></td>
					<td class=" " th:text="${fluid.stage}"></td>
					<td class=" " th:text="${fluid.stavageVolBbls}"></td>
					<td class=" " th:text="${fluid.pumpRateBMP}"></td>
					<td class=" " th:text="${fluid.injPressPSI}"></td>
					<td class=" " th:text="${fluid.bhppsi}"></td>
					<td class=" " th:text="${fluid.direction}"></td>
					<td class=" " th:text="${fluid.injDefthFT}"></td>
				</tr>
			</tbody>

		</table>

		<button th:style="'width:auto;'" id="edit" type="button" class="btn btn-primary">
			Edit</button>

	</div>
</body>
</html>
