<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit WellData</title>
<style>
.editinput{
border:none;
}
</style>
<script th:inline="javascript">
var pid=[[${session.details.id}]];

$("#updatewp").click(function(){
	url="/wellData/updatewellprofile"
	$.ajax({
		url:url,
		type:'POST',
		data:$("#updateWellProfile").serialize()+"&pid="+pid,
		success:function(res){
			$("#loadtable").html(res);
			$("#exampleModal").modal("show");
		}
	});
});
$("#updatect").click(function(){
	url="/wellData/updatecomptype"
	$.ajax({
		url:url,
		type:'POST',
		data:$("#updateCompType").serialize()+"&pid="+pid,
		success:function(res){
			$("#loadtable").html(res);
			$("#exampleModal").modal("show");
		}
	});
});

</script>
</head>
<body>
	<form id="updateWellProfile" th:if="${!wellDatalist.isEmpty()}">
		<div class="row">
			<table class="table table-bordered table-striped jambo_table bulk_action text-left">
				<tbody>
					<tr th:each="well: ${wellDatalist}">
						<td th:text="${well.wp}"></td>
						<td>
						<input class=" editinput" type="text" th:style="'width:100%;'"  th:name="wp" th:value="${well.wp}" hidden/>
						<input class="form-control editinput" type="text" th:style="'width:100%;'"  th:name="wv" th:value="${well.wv}" autofocus /></td>
				</tbody>
			</table>
			<br>
			<div class="row text-center">
				<button id="updatewp" th:style="'width:auto;'" type="button"
					class="btn btn-primary">Update</button>
			</div>
		</div>
	</form>
	
	<form id="updateCompType" th:if="${!compType.isEmpty()}">
		<div class="row">
			<table class="table table-bordered table-striped jambo_table bulk_action text-left">
				<tbody>
					<tr th:each="well: ${compType}">
						<td th:text="${well.cn}"></td>
						<td>
						<input class=" editinput" type="text" th:style="'width:100%;'"  th:name="cn" th:value="${well.cn}" hidden/>
						<input class="form-control editinput" type="text" th:style="'width:100%;'"  th:name="cv" th:value="${well.cv}" autofocus /></td>
				</tbody>
			</table>
			<br>
			<div class="row text-center">
				<button id="updatect" th:style="'width:auto;'" type="button"
					class="btn btn-primary">Update</button>
			</div>
		</div>
	</form>
</body>
</html>