<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
.editinput {
	border: none;
}
</style>
<script th:inline="javascript">
var pid=[[${session.details.id}]];

	$("#update").click(function() {
		$.ajax({
			url : "/pumpingEquipment/saveupdate",
			type : "POST",
			data : $("#mainform").serialize()+"&pid="+pid,,
			success : function(res) {
				$("#loadtable").html(res);
				$("#exampleModal").modal("show");
			}
		});

	});
</script>
</head>
<body>
	<h3 class="text-center">Pumping Equipment</h3>
	<form id="mainform">
		<table class="table table-striped jambo_table bulk_action">
			<tbody>
				<tr class="even pointer text-left" th:each="pe: ${pelist}">
					<td th:text="${pe.pp}"></td>
					<td>
					<input class="editinput form-control" type="hidden"
						th:value="${pe.pp}" th:style="'width:100%;'" th:name="pp" />
					<input class="editinput form-control" type="text"
						th:style="'width:100%;'" th:value="${pe.pv}" th:name="pv" /></td>
			</tbody>
		</table>
	</form>
	<div class="row">
		<div class="col-md-12 text-center">
			<button th:style="'width:auto;'" type="button" id="update"
				class="btn btn-primary">Update</button>
		</div>
	</div>
</body>
</html>