<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<script th:inline="javascript">
var pid=[[${session.details.id}]];

$("#update").click(function(){
	$.ajax({
		url : "/diverters/saveupdate",
		type : "POST",
		data:$("#mainform").serialize(),
		success:function(res){
			$("#loadtable").html(res);
			$("#exampleModal").modal("show");
		}
	});
});
</script>
</head>

<body class="nav-md" th:inline="text">

	<div class="row ">
		<div class="row text-center">
			<h3>Diverter Properties</h3>
		</div>
		<form id="mainform">
		<table class="table table-striped jambo_table bulk_action text-left">
			<tbody>
				<tr class="even pointer" th:each="bd: ${bdlist}">
					<td class=" " th:text="${bd.bdname}"></td>
					<td class=" " >
					<input type="hidden" class="form-control" th:value="${bd.bdname}" th:name="bdname"/>
					<input class="form-control" th:value="${bd.bdvalue}" th:name="bdvalue"/>
					</td>
				</tr>

			</tbody>
		</table>
		<input type="hidden" th:value="${session.details.id}" th:name="pid" />
		</form>
		<div class="row text-center">
			<button th:style="'width:auto'" id="update" type="button"
				class="btn btn-primary">update</button>
		</div>
	</div>
</body>
</html>
