<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<script th:inline="javascript">
var pid=[[${session.details.id}]];

$("#bd0").click(function(){
	 var valv=$("#0").is(':checked');
	 if(valv==false){
     $("#0").prop('checked',true); 
		 var bd=$("#0").val();
		$.ajax({
			url : "/diverters/changebd",
			type : "POST",
			data:{bd:bd,pid:pid},
			success:function(data){
				$("#loadtable").html(data);
				$("#exampleModal").modal("show");
			}
		});
	 }
	$("#bd0")
    .removeClass('btn-default')
    .addClass('btn-success');
	$("#bd1")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#bd2")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#bd3")
    .removeClass('btn-success')
    .addClass('btn-default');
});

$("#bd1").click(function(){
	 var valv=$("#1").is(':checked');
	 if(valv==false){
	     $("#1").prop('checked',true); 
			 var bd=$("#1").val();
			$.ajax({
				url : "/diverters/changebd",
				type : "POST",
				data:{bd:bd,pid:pid},
				success:function(data){
					$("#loadtable").html(data);
					$("#exampleModal").modal("show");
				}
			});
		 }
	$("#bd1")
    .removeClass('btn-default')
    .addClass('btn-success');
	$("#bd0")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#bd2")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#bd3")
    .removeClass('btn-success')
    .addClass('btn-default');
});

$("#bd2").click(function(){
	 var valv=$("#2").is(':checked');
	 if(valv==false){
	     $("#2").prop('checked',true); 
			 var bd=$("#2").val();
			$.ajax({
				url : "/diverters/changebd",
				type : "POST",
				data:{bd:bd,pid:pid},
				success:function(data){
					$("#loadtable").html(data);
					$("#exampleModal").modal("show");
				}
			});
		 }
	$("#bd2")
    .removeClass('btn-default')
    .addClass('btn-success');
	$("#bd1")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#bd0")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#bd3")
    .removeClass('btn-success')
    .addClass('btn-default');
});

$("#bd3").click(function(){
	 var valv=$("#3").is(':checked');
	 if(valv==false){
	     $("#3").prop('checked',true); 
			 var bd=$("#3").val();
			 
			$.ajax({
				url : "/diverters/changebd",
				type : "POST",
				data:{bd:bd,pid:pid},
				success:function(data){
					$("#loadtable").html(data);
					$("#exampleModal").modal("show");
				}
			});
		 }
	$("#bd3")
    .removeClass('btn-default')
    .addClass('btn-success');
	$("#bd1")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#bd2")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#bd0")
    .removeClass('btn-success')
    .addClass('btn-default');
});
</script>
</head>
<body class="nav-md" th:inline="text">

	<div>
		<h4 style="font-weight: bolder;" class="text-center">DIVERTER
			PROPERTIES</h4>

		<form>
			<div class="row ">
				<div class="col-md-12" style="margin-bottom: 20px;">
					<span>
						<button type="button" id="bd0" class="btn" data-color="success">
						Viscosified	 &nbsp;<input name="bdname" id="0" type="radio" value="Viscosified" hidden />
						</button>
					</span> <span>
						<button type="button" id="bd1" class="btn" data-color="success">
							Foamed &nbsp; <input name="bdname" id="1" type="radio" value="Foamed" hidden />
						</button>
					</span> <span>
						<button type="button" id="bd2" class="btn" data-color="success">
							Particulate &nbsp; <input name="bdname" id="2" type="radio"
								value="Particulate" hidden />
						</button>
					</span> <span>
						<button type="button" id="bd3" class="btn" data-color="success">
							Ves <input name="bdname" id="3" type="radio" value="Ves" hidden />
						</button>
					</span>
				</div>
			</div>
		</form>
	</div>

</body>
</html>
