<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<script th:inline="javascript">
var pid=[[${session.details.id}]];
var light=[[${session.bd}]];
var dtype=[[${session.dtype}]];


$(document).ready(function(){
	var i;
	for(i=0;i<dtype.length;i++){
		$("input[value="+dtype[i]+"]").prop('checked', true);
		$("input[value="+dtype[i]+"]").parent().removeClass('btn-default').addClass('btn-success');
	}
});

										/**************** BASE DIVERTERs ************/
$("#bd0").click(function(){
	 var valv=$("#0").is(':checked');
	 if(valv==false){
     $("#0").prop('checked',true); 
		 var bd=$("#0").val();
		 
		$.ajax({
			url : "/diverters/changebd",
			type : "POST",
			data:{bd:bd,pid:pid},
			success:function(data){
				$("#loadtable").html(data);
				$("#exampleModal").modal("show");
			}
		});
	 }
	$("#bd0")
    .removeClass('btn-default')
    .addClass('btn-success');
	$("#bd1")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#bd2")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#bd3")
    .removeClass('btn-success')
    .addClass('btn-default');
});

$("#bd1").click(function(){
	 var valv=$("#1").is(':checked');
	 if(valv==false){
	     $("#1").prop('checked',true); 
			 var bd=$("#1").val();
			 
			$.ajax({
				url : "/diverters/changebd",
				type : "POST",
				data:{bd:bd,pid:pid},
				success:function(data){
					$("#loadtable").html(data);
					$("#exampleModal").modal("show");
				}
			});
		 }
	$("#bd1")
    .removeClass('btn-default')
    .addClass('btn-success');
	$("#bd0")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#bd2")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#bd3")
    .removeClass('btn-success')
    .addClass('btn-default');
});

$("#bd2").click(function(){
	 var valv=$("#2").is(':checked');
	 if(valv==false){
	     $("#2").prop('checked',true); 
			 var bd=$("#2").val();
			 
			$.ajax({
				url : "/diverters/changebd",
				type : "POST",
				data:{bd:bd,pid:pid},
				success:function(data){
					$("#loadtable").html(data);
					$("#exampleModal").modal("show");
				}
			});
		 }
	$("#bd2")
    .removeClass('btn-default')
    .addClass('btn-success');
	$("#bd1")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#bd0")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#bd3")
    .removeClass('btn-success')
    .addClass('btn-default');
});

$("#bd3").click(function(){
	 var valv=$("#3").is(':checked');
	 if(valv==false){
	     $("#3").prop('checked',true); 
			 var bd=$("#3").val();
			$.ajax({
				url : "/diverters/changebd",
				type : "POST",
				data:{bd:bd,pid:pid},
				success:function(data){
					$("#loadtable").html(data);
					$("#exampleModal").modal("show");
				}
			});
		 }
	$("#bd3")
    .removeClass('btn-default')
    .addClass('btn-success');
	$("#bd1")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#bd2")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#bd0")
    .removeClass('btn-success')
    .addClass('btn-default');
});


                                      /**************** TEST DIVERTERs ************/
$("#td0").click(function(){
	var td=$("#4").val();
	if(!$("#4").is(':checked')){
		$.ajax({
			url : "/diverters/addTestDiverter",
			type : "POST",
			data:{td:td,pid:pid},
			success:function(data){
				$("#loadtable").html(data);
				$("#exampleModal").modal("show");
			}
		});
		$("#td0")
	    .removeClass('btn-default')
	    .addClass('btn-success');
		$("#4").prop('checked',true); 
	}else{
		$.ajax({
			url : "/diverters/delTestDiverter",
			type : "POST",
			data:{td:td,pid:pid},
			success:function(data){
				$("#loadtable").html(data);
				$("#exampleModal").modal("show");
			}
		});
		$("#td0")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#4").prop('checked',false); 
	}
});
                                      
$("#td1").click(function(){
	var td=$("#5").val();
	if(!$("#5").is(':checked')){
		$.ajax({
			url : "/diverters/addTestDiverter",
			type : "POST",
			data:{td:td,pid:pid},
			success:function(data){
				$("#loadtable").html(data);
				$("#exampleModal").modal("show");
			}
		});
		$("#td1")
	    .removeClass('btn-default')
	    .addClass('btn-success');
		$("#5").prop('checked',true); 
	}else{
		$.ajax({
			url : "/diverters/delTestDiverter",
			type : "POST",
			data:{td:td,pid:pid},
			success:function(data){
				$("#loadtable").html(data);
				$("#exampleModal").modal("show");
			}
		});
		$("#td1")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#5").prop('checked',false); 
	}
});

$("#td2").click(function(){
	var td=$("#6").val();
	if(!$("#6").is(':checked')){
		$.ajax({
			url : "/diverters/addTestDiverter",
			type : "POST",
			data:{td:td,pid:pid},
			success:function(data){
				$("#loadtable").html(data);
				$("#exampleModal").modal("show");
			}
		});
		$("#td2")
	    .removeClass('btn-default')
	    .addClass('btn-success');
		$("#6").prop('checked',true); 
	} else{
		$.ajax({
			url : "/diverters/delTestDiverter",
			type : "POST",
			data:{td:td,pid:pid},
			success:function(data){
				$("#loadtable").html(data);
				$("#exampleModal").modal("show");
			}
		});
		$("#td2")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#6").prop('checked',false); 
	}
});

$("#td3").click(function(){
	var td=$("#7").val();
	if(!$("#7").is(':checked')){
		$.ajax({
			url : "/diverters/addTestDiverter",
			type : "POST",
			data:{td:td,pid:pid},
			success:function(data){
				$("#loadtable").html(data);
				$("#exampleModal").modal("show");
			}
		});
		$("#td3")
	    .removeClass('btn-default')
	    .addClass('btn-success');
		$("#7").prop('checked',true); 
	} else{
		$.ajax({
			url : "/diverters/delTestDiverter",
			type : "POST",
			data:{td:td,pid:pid},
			success:function(data){
				$("#loadtable").html(data);
				$("#exampleModal").modal("show");
			}
		});
		$("#td3")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#7").prop('checked',false); 
	}
});

		/****************************************************************************************/
if(light=="Viscosified"){
	  $("#0").prop('checked',true); 
	 $("#bd0")
	    .removeClass('btn-default')
	    .addClass('btn-success');
		$("#bd1")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#bd2")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#bd3")
	    .removeClass('btn-success')
	    .addClass('btn-default');
	$("#td0").remove();
}
if(light=="Foamed"){
	  $("#1").prop('checked',true); 
	 $("#bd1")
	    .removeClass('btn-default')
	    .addClass('btn-success');
		$("#bd0")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#bd2")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#bd3")
	    .removeClass('btn-success')
	    .addClass('btn-default');	
	$("#td1").remove();
}
if(light=="Particulate"){
	  $("#2").prop('checked',true); 
	 $("#bd2")
	    .removeClass('btn-default')
	    .addClass('btn-success');
		$("#bd1")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#bd0")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#bd3")
	    .removeClass('btn-success')
	    .addClass('btn-default');	
	$("#td2").remove();
}
if(light=="Ves"){
	  $("#3").prop('checked',true); 
	 $("#bd3")
	    .removeClass('btn-default')
	    .addClass('btn-success');
		$("#bd1")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#bd2")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#bd0")
	    .removeClass('btn-success')
	    .addClass('btn-default');	
	$("#td3").remove();
}


$("#bdedit").click(function(){
	$.ajax({
		url : "/diverters/bdedit",
		type : "POST",
		data:{pid:pid},
		success:function(res){
			$("#loadtable").html(res);
			$("#exampleModal").modal("show");
		}
	});
});

$(".tdedit").click(function(){
	var td=$(this).val();
	$.ajax({
		url : "/diverters/tdedit",
		type : "POST",
		data:{pid:pid,td:td},
		success:function(res){
			$("#loadtable").html(res);
			$("#exampleModal").modal("show");
		}
	});
});

</script>
<style>
</style>
</head>
<body class="nav-md" th:inline="text">
	<!-- top tiles -->
	<div class="row">
		<div class="col-md-6" style="text-align: left;">
			<label>Select Diverter Type Based On Injection Plan</label><br>
			<span>
				<button type="button" id="bd0" class="btn" data-color="success">
					Viscosified <input name="bdname" id="0" type="radio"
						value="Viscosified" hidden />
				</button>
			</span> <span>
				<button type="button" id="bd1" class="btn" data-color="success">
					Foamed<input name="bdname" id="1" type="radio" value="Foamed"
						hidden />
				</button>
			</span> <span>
				<button type="button" id="bd2" class="btn" data-color="success">
					Particulate <input name="bdname" id="2" type="radio"
						value="Particulate" hidden />
				</button>
			</span> <span>
				<button type="button" id="bd3" class="btn" data-color="success">
					Ves<input name="bdname" id="3" type="radio" value="Ves" hidden />
				</button>
			</span>
		</div>
	</div>
	<div lcass="row">
		<div class="col-md-6" style="text-align: left;">
			<label>Select Diverters For Sensitivity</label><br> <span>
				<button type="button" id="td0" class="btn btn-default">
					Viscosified &nbsp;<input name="tdname" id="4" type="checkbox"
						value="VISCOSIFIED" hidden/>
				</button>
			</span> <span>
				<button type="button" id=td1 class="btn btn-default">
					Foamed &nbsp; <input name="tdname" id="5" type="checkbox"
						value="FOAMED" hidden/>
				</button>
			</span> <span>
				<button type="button" id="td2" class="btn btn-default">
					Particulate &nbsp; <input name="tdname" id="6" type="checkbox"
						value="PARTICULATE" hidden/>
				</button>
			</span> <span>
				<button type="button" id="td3" class="btn btn-default">
					Ves &nbsp;<input name="tdname" id="7" type="checkbox" value="VES" hidden/>
				</button>
			</span>
		</div>
	</div>

	<!-- Base Diverter ROW -->
	<div class="row ">
		<div class="col-md-12 text-left">
			<h4 style="text-decoration: underline; font-weight: bold;">Base
				Diverter Properties:</h4>
		</div>
	</div>
	<div class="row ">
		<div class="col-md-6 text-left">
			<table
				class="table table-bordered table-striped jambo_table bulk_action text-left">
				<tbody>
					<tr class="even pointer" th:each="bd: ${bdlist}">
						<th class=" " th:text="${bd.bdname}"></th>
						<td class=" " th:text="${bd.bdvalue}"></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2" class="text-center"><button
								th:style="'width:auto'" id="bdedit" type="button"
								class="btn btn-primary">Edit</button></td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>

	<!-- Test DIVERTER ROW -->
	<div class="row">
		<div class="col-md-6 text-left">
			<h4 style="text-decoration: underline; font-weight: bold;">Test
				Diverter Properties:</h4>
			<label
				th:if="${viscolist?.isEmpty() && foamlist?.isEmpty() && partlist?.isEmpty() && veslist?.isEmpty() }">No
				Test Diverter Selected</label>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6" th:if="${!viscolist?.isEmpty()}">
			<table class="table table-bordered jambo_table bulk_action text-left">
				<tbody>
					<tr class="even pointer" th:each="tdvisco: ${viscolist}">
						<th th:text="${tdvisco.dname}"></th>
						<td th:text="${tdvisco.dvalue}"></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2" class="text-center"><button
								th:style="'width:auto'" type="button"
								class="tdedit btn btn-primary" value="VISCOSIFIED">Edit</button></td>
					</tr>
				</tfoot>
			</table>
		</div>
		<div class="col-md-6" th:if="${!foamlist?.isEmpty()}">
			<table class="table table-bordered jambo_table bulk_action text-left">
				<tbody>
					<tr class="even pointer" th:each="tdfoamed: ${foamlist}">
						<th th:text="${tdfoamed.dname}"></th>
						<td th:text="${tdfoamed.dvalue}"></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2" class="text-center"><button
								th:style="'width:auto'" type="button"
								class="tdedit btn btn-primary" value="FOAMED">Edit</button></td>
					</tr>
				</tfoot>
			</table>
		</div>
		<div class="col-md-6" th:if="${!partlist?.isEmpty()}">
			<table class="table table-bordered jambo_table bulk_action text-left">
				<tbody>
					<tr class="even pointer" th:each="tdparticulate: ${partlist}">
						<th th:text="${tdparticulate.dname}"></th>
						<td th:text="${tdparticulate.dvalue}"></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2" class="text-center"><button
								th:style="'width:auto'" type="button"
								class="tdedit btn btn-primary" value="PARTICULATE">Edit</button></td>
					</tr>
				</tfoot>
			</table>
		</div>
		<div class="col-md-6" th:if="${!veslist?.isEmpty()}">
			<table class="table table-bordered jambo_table bulk_action text-left">
				<tbody>
					<tr class="even pointer" th:each="tdves: ${veslist}">
						<th th:text="${tdves.dname}"></th>
						<td th:text="${tdves.dvalue}"></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2" class="text-center"><button
								th:style="'width:auto'" type="button"
								class="tdedit btn btn-primary" value="VES">Edit</button></td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</body>
</html>
