<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<script th:inline="javascript">
var pid=[[${session.details.id}]];
var light=[[${session.bd}]];

$("#td0").click(function(){
	 var valv=$("#0").is(':checked');
	 if(valv==false){
     $("#0").prop('checked',true); 
		 var bd=$("#0").val();
		 
		$.ajax({
			url : "/diverters/changebd",
			type : "POST",
			data:{bd:bd,pid:pid},
			success:function(data){
				$("#loadtable").html(data);
				$("#exampleModal").modal("show");
			}
		});
	 }
	$("#td0")
    .removeClass('btn-default')
    .addClass('btn-success');
	$("#td1")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#td2")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#td3")
    .removeClass('btn-success')
    .addClass('btn-default');
});

$("#td1").click(function(){
	 var valv=$("#1").is(':checked');
	 if(valv==false){
	     $("#1").prop('checked',true); 
			 var bd=$("#1").val();
			 
			$.ajax({
				url : "/diverters/changebd",
				type : "POST",
				data:{bd:bd,pid:pid},
				success:function(data){
					$("#loadtable").html(data);
					$("#exampleModal").modal("show");
				}
			});
		 }
	$("#td1")
    .removeClass('btn-default')
    .addClass('btn-success');
	$("#td0")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#td2")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#td3")
    .removeClass('btn-success')
    .addClass('btn-default');
});

$("#td2").click(function(){
	 var valv=$("#2").is(':checked');
	 if(valv==false){
	     $("#2").prop('checked',true); 
			 var bd=$("#2").val();
			 
			$.ajax({
				url : "/diverters/changebd",
				type : "POST",
				data:{bd:bd,pid:pid},
				success:function(data){
					$("#loadtable").html(data);
					$("#exampleModal").modal("show");
				}
			});
		 }
	$("#td2")
    .removeClass('btn-default')
    .addClass('btn-success');
	$("#td1")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#td0")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#td3")
    .removeClass('btn-success')
    .addClass('btn-default');
});

$("#td3").click(function(){
	 var valv=$("#3").is(':checked');
	 if(valv==false){
	     $("#3").prop('checked',true); 
			 var bd=$("#3").val();
			 
			$.ajax({
				url : "/diverters/changebd",
				type : "POST",
				data:{bd:bd,pid:pid},
				success:function(data){
					$("#loadtable").html(data);
					$("#exampleModal").modal("show");
				}
			});
		 }
	$("#td3")
    .removeClass('btn-default')
    .addClass('btn-success');
	$("#td1")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#td2")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#td0")
    .removeClass('btn-success')
    .addClass('btn-default');
});

if(light=="Viscosified"){
	  $("#0").prop('checked',true); 
	 $("#td0")
	    .removeClass('btn-default')
	    .addClass('btn-success');
		$("#td1")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#td2")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#td3")
	    .removeClass('btn-success')
	    .addClass('btn-default');
}
if(light=="Foamed"){
	  $("#1").prop('checked',true); 
	 $("#td1")
	    .removeClass('btn-default')
	    .addClass('btn-success');
		$("#td0")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#td2")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#td3")
	    .removeClass('btn-success')
	    .addClass('btn-default');	
	
}
if(light=="Particulate"){
	  $("#2").prop('checked',true); 
	 $("#td2")
	    .removeClass('btn-default')
	    .addClass('btn-success');
		$("#td1")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#td0")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#td3")
	    .removeClass('btn-success')
	    .addClass('btn-default');	
	
}
if(light=="Ves"){
	
	  $("#3").prop('checked',true); 
	 $("#td3")
	    .removeClass('btn-default')
	    .addClass('btn-success');
		$("#td1")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#td2")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#td0")
	    .removeClass('btn-success')
	    .addClass('btn-default');	
}

$("#edit").click(function(){
	$.ajax({
		url : "/diverters/edit",
		type : "POST",
		data:{pid:pid},
		success:function(res){
			$("#loadtable").html(res);
			$("#exampleModal").modal("show");
		}
	});
});
</script>
</head>
<body class="nav-md" th:inline="text">
	<!-- top tiles -->
	<div class="row ">
	<form>
			
				<div class="col-md-12" style="margin-bottom: 20px;">
					<p style="font-weight: bold;">Base Case Diverters</p>
					<span>
						<button type="button" id="td0" class="btn" data-color="success">
							<input name="bdname" id="0" type="radio" value="Viscosified" />Viscosified
						</button>
					</span> <span>
						<button type="button" id="td1" class="btn" data-color="success">
							Foamed <input name="bdname" id="1" type="radio" value="Foamed" />
						</button>
					</span> <span>
						<button type="button" id="td2" class="btn" data-color="success">
							Particulate <input name="bdname" id="2" type="radio"
								value="Particulate" />
						</button>
					</span> <span>
						<button type="button" id="td3" class="btn" data-color="success">
							Ves <input name="bdname" id="3" type="radio" value="Ves" />
						</button>
					</span>
				</div>
			

		</form>
	</div>
	
	<div class="row ">
	<div class="row text-center">
	<h3>Diverter Properties</h3>	
	</div>
	<table class="table table-striped jambo_table bulk_action text-left">
		<tbody>
			<tr class="even pointer" th:each="bd: ${bdlist}">
				<td class=" " th:text="${bd.bdname}"></td>
				<td class=" " th:text="${bd.bdvalue}"></td>
				</tr>
				
		</tbody>
	</table>
	<div class="row text-center">
	<button th:style="'width:auto'" id="edit" type="button"class="btn btn-primary">   Edit</button>
	</div>
	</div>
</body>
</html>
