<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<script th:inline="javascript">
var pid=[[${session.details.id}]];
var light=[[${session.bd}]];
var dtype=[[${session.dtype}]];


$(document).ready(function(){
	var i;
	for(i=0;i<dtype.length;i++){
		$("input[value="+dtype[i]+"]").prop('checked', true);
		$("input[value="+dtype[i]+"]").parent().removeClass('btn-default').addClass('btn-success');
	}
});

										/**************** BASE DIVERTERs ************/
$("#bd0").click(function(){
	 var valv=$("#0").is(':checked');
	 if(valv==false){
     $("#0").prop('checked',true); 
		 var bd=$("#0").val();
		 
		$.ajax({
			url : "/diverters/changebd",
			type : "POST",
			data:{bd:bd,pid:pid},
			success:function(data){
				$("#loadtable").html(data);
				$("#exampleModal").modal("show");
			}
		});
	 }
	$("#bd0")
    .removeClass('btn-default')
    .addClass('btn-success');
	$("#bd1")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#bd2")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#bd3")
    .removeClass('btn-success')
    .addClass('btn-default');
});

$("#bd1").click(function(){
	 var valv=$("#1").is(':checked');
	 if(valv==false){
	     $("#1").prop('checked',true); 
			 var bd=$("#1").val();
			 
			$.ajax({
				url : "/diverters/changebd",
				type : "POST",
				data:{bd:bd,pid:pid},
				success:function(data){
					$("#loadtable").html(data);
					$("#exampleModal").modal("show");
				}
			});
		 }
	$("#bd1")
    .removeClass('btn-default')
    .addClass('btn-success');
	$("#bd0")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#bd2")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#bd3")
    .removeClass('btn-success')
    .addClass('btn-default');
});

$("#bd2").click(function(){
	 var valv=$("#2").is(':checked');
	 if(valv==false){
	     $("#2").prop('checked',true); 
			 var bd=$("#2").val();
			 
			$.ajax({
				url : "/diverters/changebd",
				type : "POST",
				data:{bd:bd,pid:pid},
				success:function(data){
					$("#loadtable").html(data);
					$("#exampleModal").modal("show");
				}
			});
		 }
	$("#bd2")
    .removeClass('btn-default')
    .addClass('btn-success');
	$("#bd1")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#bd0")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#bd3")
    .removeClass('btn-success')
    .addClass('btn-default');
});

$("#bd3").click(function(){
	 var valv=$("#3").is(':checked');
	 if(valv==false){
	     $("#3").prop('checked',true); 
			 var bd=$("#3").val();
			$.ajax({
				url : "/diverters/changebd",
				type : "POST",
				data:{bd:bd,pid:pid},
				success:function(data){
					$("#loadtable").html(data);
					$("#exampleModal").modal("show");
				}
			});
		 }
	$("#bd3")
    .removeClass('btn-default')
    .addClass('btn-success');
	$("#bd1")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#bd2")
    .removeClass('btn-success')
    .addClass('btn-default');
	$("#bd0")
    .removeClass('btn-success')
    .addClass('btn-default');
});


                                      /**************** TEST DIVERTERs ************/
$("#td0").click(function(){
	var td=$("#4").val();
	if(!$("#4").is(':checked')){
		$.ajax({
			url : "/diverters/addTestDiverter",
			type : "POST",
			data:{td:td,pid:pid},
			success:function(data){
				$("#loadtable").html(data);
				$("#exampleModal").modal("show");
			}
		});
		$("#td0")
	    .removeClass('btn-default')
	    .addClass('btn-success');
		$("#4").prop('checked',true); 
	}else{
		$.ajax({
			url : "/diverters/delTestDiverter",
			type : "POST",
			data:{td:td,pid:pid},
			success:function(data){
				$("#loadtable").html(data);
				$("#exampleModal").modal("show");
			}
		});
		$("#td0")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#4").prop('checked',false); 
	}
});
                                      
$("#td1").click(function(){
	var td=$("#5").val();
	if(!$("#5").is(':checked')){
		$.ajax({
			url : "/diverters/addTestDiverter",
			type : "POST",
			data:{td:td,pid:pid},
			success:function(data){
				$("#loadtable").html(data);
				$("#exampleModal").modal("show");
			}
		});
		$("#td1")
	    .removeClass('btn-default')
	    .addClass('btn-success');
		$("#5").prop('checked',true); 
	}else{
		$.ajax({
			url : "/diverters/delTestDiverter",
			type : "POST",
			data:{td:td,pid:pid},
			success:function(data){
				$("#loadtable").html(data);
				$("#exampleModal").modal("show");
			}
		});
		$("#td1")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#5").prop('checked',false); 
	}
});

$("#td2").click(function(){
	var td=$("#6").val();
	if(!$("#6").is(':checked')){
		$.ajax({
			url : "/diverters/addTestDiverter",
			type : "POST",
			data:{td:td,pid:pid},
			success:function(data){
				$("#loadtable").html(data);
				$("#exampleModal").modal("show");
			}
		});
		$("#td2")
	    .removeClass('btn-default')
	    .addClass('btn-success');
		$("#6").prop('checked',true); 
	} else{
		$.ajax({
			url : "/diverters/delTestDiverter",
			type : "POST",
			data:{td:td,pid:pid},
			success:function(data){
				$("#loadtable").html(data);
				$("#exampleModal").modal("show");
			}
		});
		$("#td2")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#6").prop('checked',false); 
	}
});

$("#td3").click(function(){
	var td=$("#7").val();
	if(!$("#7").is(':checked')){
		$.ajax({
			url : "/diverters/addTestDiverter",
			type : "POST",
			data:{td:td,pid:pid},
			success:function(data){
				$("#loadtable").html(data);
				$("#exampleModal").modal("show");
			}
		});
		$("#td3")
	    .removeClass('btn-default')
	    .addClass('btn-success');
		$("#7").prop('checked',true); 
	} else{
		$.ajax({
			url : "/diverters/delTestDiverter",
			type : "POST",
			data:{td:td,pid:pid},
			success:function(data){
				$("#loadtable").html(data);
				$("#exampleModal").modal("show");
			}
		});
		$("#td3")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#7").prop('checked',false); 
	}
});

		/****************************************************************************************/
if(light=="Viscosified"){
	  $("#0").prop('checked',true); 
	 $("#bd0")
	    .removeClass('btn-default')
	    .addClass('btn-success');
		$("#bd1")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#bd2")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#bd3")
	    .removeClass('btn-success')
	    .addClass('btn-default');
	$("#td0").remove();
}
if(light=="Foamed"){
	  $("#1").prop('checked',true); 
	 $("#bd1")
	    .removeClass('btn-default')
	    .addClass('btn-success');
		$("#bd0")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#bd2")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#bd3")
	    .removeClass('btn-success')
	    .addClass('btn-default');	
	$("#td1").remove();
}
if(light=="Particulate"){
	  $("#2").prop('checked',true); 
	 $("#bd2")
	    .removeClass('btn-default')
	    .addClass('btn-success');
		$("#bd1")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#bd0")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#bd3")
	    .removeClass('btn-success')
	    .addClass('btn-default');	
	$("#td2").remove();
}
if(light=="Ves"){
	  $("#3").prop('checked',true); 
	 $("#bd3")
	    .removeClass('btn-default')
	    .addClass('btn-success');
		$("#bd1")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#bd2")
	    .removeClass('btn-success')
	    .addClass('btn-default');
		$("#bd0")
	    .removeClass('btn-success')
	    .addClass('btn-default');	
	$("#td3").remove();
}


$("#bdedit").click(function(){
	$.ajax({
		url : "/diverters/bdedit",
		type : "POST",
		data:{pid:pid},
		success:function(res){
			$("#loadtable").html(res);
			$("#exampleModal").modal("show");
		}
	});
});

$(".tdedit").click(function(){
	var td=$(this).val();
	$.ajax({
		url : "/diverters/tdedit",
		type : "POST",
		data:{pid:pid,td:td},
		success:function(res){
			$("#loadtable").html(res);
			$("#exampleModal").modal("show");
		}
	});
});


$("#1015").click(function(){
    $("#1016").slideToggle();
    $('#ar8').toggleClass('fa-caret-down fa-caret-right');
    });
$("#1005").click(function(){
    $("#1006").slideToggle();
    $('#ar3').toggleClass('fa-caret-down fa-caret-right');
    });
$("#1011").click(function(){
    $("#1012").slideToggle();
    $('#ar6').toggleClass('fa-caret-down fa-caret-right');
    });
$("#1019").click(function(){
    $("#1020").slideToggle();
    $('#ar10').toggleClass('fa-caret-down fa-caret-right');
    });
$("#1017").click(function(){
    $("#1018").slideToggle();
    $('#ar9').toggleClass('fa-caret-down fa-caret-right');
    });
</script>
<style>
.output {
	background-color: white;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.outputhead {
	letter-spacing: 0.01em;
	position: relative;
	text-align: center;
	background: none;
	color: white;
	opacity: 0.95;
	background: #3c8dbc;
	padding: 2px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border: none;
	transition: all 0.35s linear;
	outline: none;
	width: 420px;
}

.outputhead:hover {
	letter-spacing: 0.02em;
	color: black;
}

.outputhead::after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-image: linear-gradient(to right, #3c8dbc, #4cafe8);
	border-radius: 50px;
	transform-origin: left;
	transition: width 0.35s ease;
	z-index: -1;
}

.outputhead:hover::after {
	width: 100%;
	border-radius: 21px;
}

.outputhead h4 {
	font-size: 16px;
}

.outputbody {
	height: 355px;
	font-size: 15px;
	padding: 20px;
	width: 420px;
}
</style>
</head>
<body class="nav-md" th:inline="text">
	<!-- top tiles -->
	<li class="list-group-item">
	<div class="row">
		<div class="col-md-6" style="text-align: left;">
			<label>Select Diverter Type Based On Injection Plan</label><br>
			<span>
				<button type="button" id="bd0" class="btn" data-color="success">
					Viscosified <input name="bdname" id="0" type="radio"
						value="Viscosified"  hidden/>
				</button>
			</span> <span>
				<button type="button" id="bd1" class="btn" data-color="success">
					Foamed<input name="bdname" id="1" type="radio" value="Foamed"
						hidden />
				</button>
			</span> <span>
				<button type="button" id="bd2" class="btn" data-color="success">
					Particulate <input name="bdname" id="2" type="radio"
						value="Particulate"  hidden/>
				</button>
			</span> <span>
				<button type="button" id="bd3" class="btn" data-color="success">
					Ves<input name="bdname" id="3" type="radio" value="Ves" hidden />
				</button>
			</span>
		</div>


		<div class="col-md-6" style="text-align: left;">
			<label>Select Diverters For Sensitivity</label><br> <span>
				<button type="button" id="td0" class="btn btn-default">
					Viscosified &nbsp;<input name="tdname" id="4" type="checkbox"
						value="VISCOSIFIED" hidden />
				</button>
			</span> <span>
				<button type="button" id=td1 class="btn btn-default">
					Foamed &nbsp; <input name="tdname" id="5" type="checkbox"
						value="FOAMED" hidden />
				</button>
			</span> <span>
				<button type="button" id="td2" class="btn btn-default">
					Particulate &nbsp; <input name="tdname" id="6" type="checkbox"
						value="PARTICULATE" hidden />
				</button>
			</span> <span>
				<button type="button" id="td3" class="btn btn-default">
					Ves &nbsp;<input name="tdname" id="7" type="checkbox" value="VES"
						hidden />
				</button>
			</span>
		</div>
	</div>
</li><br>
<li class="list-group-item">
	<div class="row ">

		<div class="col-md-6" style="margin-bottom: 20px;margin-top: 20px;">
			<div class="output">
				<div class="outputhead" id="1015"
					style="cursor: pointer; text-transform: uppercase;">
					<h4>
						<i id="ar8" style="position: absolute; left: 20px;"
							class="fa fa-caret-down"></i>[[${session.bd}]]  BASE<i
							style="position: absolute; right: 20px;" aria-hidden="true"></i>
					</h4>
				</div>
				<div class="outputbody" id="1016" style="display: none;">
					<div style="overflow: hidden;">
					

						<table
							class="table table-bordered table-striped jambo_table bulk_action text-left">
							<tbody>
								<tr class="even pointer" th:each="bd: ${bdlist}">
									<th class=" " th:text="${bd.bdname}"></th>
									<td class=" " th:text="${bd.bdvalue}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<center>
						<button th:style="'width:auto'" id="bdedit" type="button"
							class="btn btn-primary">Edit</button>
					</center>
				</div>
			</div>
		</div>

		<div class="col-md-6" style="margin-bottom: 20px;margin-top: 20px;"
			th:if="${!viscolist?.isEmpty()}">
			<div class="output">
				<div class="outputhead" id="1005" style="cursor: pointer;">
					<h4>
						<i id="ar3" style="position: absolute; left: 20px;"
							class="fa fa-caret-down"></i>VISCOSIFIED <i
							style="position: absolute; right: 20px;" aria-hidden="true"></i>
					</h4>
				</div>
				<div class="outputbody" id="1006" style="display: none;">
					<div style="overflow: hidden;">

						
						<table
							class="table table-bordered jambo_table bulk_action text-left">
							<tbody>
								<tr class="even pointer" th:each="tdvisco: ${viscolist}">
									<th th:text="${tdvisco.dname}"></th>
									<td th:text="${tdvisco.dvalue}"></td>
								</tr>
							</tbody>

						</table>
					</div>
					<center>
						<button th:style="'width:auto'" type="button"
							class="tdedit btn btn-primary" value="VISCOSIFIED">Edit</button>
					</center>
				</div>
			</div>
		</div>

		<div class="col-md-6" style="margin-bottom: 20px;margin-top: 20px;"
			th:if="${!foamlist?.isEmpty()}">
			<div class="output">
				<div class="outputhead" id="1011" style="cursor: pointer;">
					<h4>
						<i id="ar6" style="position: absolute; left: 20px;"
							class="fa fa-caret-down"></i>FOAMED<i
							style="position: absolute; right: 20px;" aria-hidden="true"></i>
					</h4>
				</div>
				<div class="outputbody" id="1012" style="display: none;">
					<div style="overflow: hidden;">

						<table
							class="table table-bordered jambo_table bulk_action text-left">
							<tbody>
								<tr class="even pointer" th:each="tdfoamed: ${foamlist}">
									<th th:text="${tdfoamed.dname}"></th>
									<td th:text="${tdfoamed.dvalue}"></td>
								</tr>
							</tbody>
						</table>

					</div>
					<center>
						<button th:style="'width:auto'" type="button"
							class="tdedit btn btn-primary" value="FOAMED">Edit</button>
					</center>
				</div>
			</div>
		</div>

		<div class="col-md-6" style="margin-bottom: 20px;margin-top: 20px;"
			th:if="${!partlist?.isEmpty()}">
			<div class="output">
				<div class="outputhead" id="1019" style="cursor: pointer;">
					<h4>
						<i id="ar10" style="position: absolute; left: 20px;"
							class="fa fa-caret-down"></i>PARTICULATE <i
							style="position: absolute; right: 20px;" aria-hidden="true"></i>
					</h4>
				</div>
				<div class="outputbody" id="1020" style="display: none;">
					<div style="overflow: hidden;">

						
						<table
							class="table table-bordered jambo_table bulk_action text-left">
							<tbody>
								<tr class="even pointer" th:each="tdparticulate: ${partlist}">
									<th th:text="${tdparticulate.dname}"></th>
									<td th:text="${tdparticulate.dvalue}"></td>
								</tr>
							</tbody>
						</table>

					</div>
					<center>
						<button th:style="'width:auto'" type="button"
							class="tdedit btn btn-primary" value="PARTICULATE">Edit</button>
					</center>
				</div>
			</div>
		</div>

		<div class="col-md-6" style="margin-bottom: 20px;margin-top: 20px;"
			th:if="${!veslist?.isEmpty()}">
			<div class="output">
				<div class="outputhead" id="1017" style="cursor: pointer;">
					<h4>
						<i id="ar9" style="position: absolute; left: 20px;"
							class="fa fa-caret-down"></i>VES <i
							style="position: absolute; right: 20px;" aria-hidden="true"></i>
					</h4>
				</div>
				<div class="outputbody" id="1018" style="display: none;">
					<div style="overflow: hidden;">

						
						<table
							class="table table-bordered jambo_table bulk_action text-left">
							<tbody>
								<tr class="even pointer" th:each="tdves: ${veslist}">
									<th th:text="${tdves.dname}"></th>
									<td th:text="${tdves.dvalue}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<center>
						<button th:style="'width:auto'" type="button"
							class="tdedit btn btn-primary" value="VES">Edit</button>
					</center>
				</div>
			</div>
		</div>
</div>
</li>
</body>
</html>
